<div class="container-fluid-1 bg-1 text-left">
  <h1>Exam Generator</h1>

</div>



<div class="container text-center">
 <div class="row">
  <div class="col-sm-6 mt-3">
    <div class="card m-3 ">
      <div class="card-body">
        <h5 class="card-title">Exámenes</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="exams/" class="btn btn-info align-middle btn-card mt-2">Ver exámenes</a>
        <a href="exams/new" class="btn btn-info align-middle btn-card mt-2">Crear exámenes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Reactivos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="reactives/" class="btn btn-info align-middle btn-card mt-2">Ver reactivos</a>
        <a href="reactives/new" class="btn btn-info align-middle btn-card mt-2">Crear reactivos</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Materias</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="subjects/" class="btn btn-info btn-card mt-2">Ver materias</a>
        <a href="subjects/new" class="btn btn-info btn-card mt-2">Crear materias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Temas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="topics/" class="btn btn-info btn-card mt-2">Ver temas</a>
        <a href="topics/new" class="btn btn-info btn-card mt-2">Crear temas</a>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row-reverse mt-2">
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete , :class => "btn btn-outline-secondary mr-3" %>
</div>

</div>