<div class="container-fluid-1 bg-1 text-left">
  <h1>Exam Generator</h1>
</div>

<div class="container text-center">

 <div class="row">
  <div class="col-sm-6 mt-5">
    <div class="card m-3 ">
      <div class="card-body">
        <h5 class="card-title">Exámenes</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="exams/" class="btn btn-info align-middle btn-card">Ver exámenes</a>
        <a href="exams/new" class="btn btn-info align-middle btn-card">Crear exámenes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-5">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Reactivos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="reactives/" class="btn btn-info align-middle btn-card">Ver reactivos</a>
        <a href="reactives/new" class="btn btn-info align-middle btn-card">Crear reactivos</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Materias</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="subjects/" class="btn btn-info btn-card">Ver Materias</a>
        <a href="subjects/new" class="btn btn-info btn-card">Crear Materias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Temas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="topics/" class="btn btn-info btn-card">Ver temas</a>
        <a href="topics/new" class="btn btn-info btn-card">Crear temas</a>
      </div>
    </div>
  </div>
</div>

</div>