<head>
  <style>
    .bg-1 { 
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
    .bg-2 { 
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }
    .bg-3 { 
        background-color: #ffffff; /* White */
        color: #555555;
    }

    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
  </style>
</head>

<body>
<div class="container-fluid bg-1 text-left">
  <h1>Exam Generator</h1>
</div>

<div class="container-fluid bg-2 text-center">
    <button type="button" class="btn btn-primary btn-lg">Generar Examen</button>
    <button type="button" class="btn btn-primary btn-lg">Agregar Reactivo</button>
    <button type="button" class="btn btn-primary btn-lg">Mis Examenes</button>
    <button type="button" class="btn btn-primary btn-lg">Modificar Reactivos</button>
</div>

<div class="container-fluid bg-3 text-center"> 
</div>
</body>
