<%= stylesheet_link_tag 'home' %>

<div class="container-fluid-1 bg-1 text-left">
  <h1>Exam Generator</h1>
</div>

<div class="container-fluid-2 bg-2 text-center">
    <button href="#" class="btn btn-info btn-lg">Generar Examen</button>
    <button href="#" class="btn btn-info btn-lg">Agregar Reactivo</button>
    <button href="#" class="btn btn-info btn-lg">Mis Examenes</button>
    <button href="#" class="btn btn-info btn-lg">Modificar Reactivos</button>
</div>

