* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.bg-1 { 
    background-color: #525252;
    color: #ffffff;
}

.bg-2 { 
    background-color: #EFEFEF;
    color: #333;;
}

.btn-home {
    width: 200px;
    height: 100px;
    vertical-align: middle;
    padding: 50px 0;
    text-align: center;
}
.container-fluid-1 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    position: relative;
    top: -22px;
}

.container-fluid-2 {
    padding-top: 100px;
    padding-bottom: 200px;
}

.alert {
    padding: 0;
    border: 0;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #333;;
    background-color: #EFEFEF;
}

p {
    font-size: 16px;
}