<h1>Generar Examen</h1>

<div class="d-flex flex-row-reverse">
<%= link_to "Generar", root_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>

<%= link_to "Inicio", root_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>
</div>